Repository DewminaUdayashan/adytum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: pre-commit script
  .husky/pre-commit
Due: none

fix(llm): end-to-end gemini image generation and display fixes
  .gitignore
  packages/dashboard/src/components/chat/markdown-renderer.tsx
  packages/dashboard/src/components/chat/thinking-indicator.tsx
  packages/gateway/src/api/controllers/system.controller.ts
  packages/gateway/src/api/routes/system.routes.ts
  packages/gateway/src/domain/logic/agent-runtime.autonomy.test.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/domain/logic/runtime.integration.test.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/llm/llm-client.ts
  packages/gateway/src/infrastructure/llm/model-router.ts
  packages/gateway/src/tools/filesystem.ts
  skills/nano-banana/index.ts
  workspace/models.json
  workspace/skills/knowledge-graph/SKILL.md
  workspace/skills/knowledge-graph/index.ts
  workspace/skills/media-engine/adytum.plugin.json
  workspace/skills/media-engine/index.ts
  workspace/skills/nano-banana/adytum.plugin.json
  workspace/skills/nano-banana/index.ts
Due: prettier --write, eslint --fix

feat: add cross-platform browser control skill
  package-lock.json
  package.json
  packages/shared/src/protocol.test.ts
  workspace/skills/browser-control/SKILL.md
  workspace/skills/browser-control/adytum.plugin.json
  workspace/skills/browser-control/index.ts
  workspace/skills/hello-world/SKILL.md
  workspace/skills/hello-world/adytum.plugin.json
  workspace/skills/hello-world/index.ts
Due: prettier --write, eslint --fix

feat: improve LLM reliability and Knowledge Map visuals
  packages/dashboard/src/components/knowledge/graph-view.tsx
  packages/gateway/src/domain/knowledge/graph-indexer.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/infrastructure/llm/llm-client.ts
  packages/gateway/src/infrastructure/llm/model-router.ts
  workspace/models.json
  workspace/skills/browser-control/index.ts
Due: prettier --write, eslint --fix

feat: implement multi agent system
  .gitignore
  .husky/pre-commit
  packages/dashboard/next.config.mjs
  packages/dashboard/public/avatars/prometheus.png
  packages/dashboard/src/app/agents/page.tsx
  packages/dashboard/src/app/chat/page.tsx
  packages/dashboard/src/app/memories/page.tsx
  packages/dashboard/src/app/skills/page.tsx
  packages/dashboard/src/app/tasks/page.tsx
  packages/dashboard/src/app/tokens/page.tsx
  packages/dashboard/src/components/agents/agent-detail-panel.tsx
  packages/dashboard/src/components/agents/agent-hierarchy-canvas.tsx
  packages/dashboard/src/components/sidebar.tsx
  packages/dashboard/src/components/ui.tsx
  packages/dashboard/src/components/ui/checkbox.tsx
  packages/dashboard/src/lib/api.ts
  packages/gateway/scripts/verify_prompts.ts
  packages/gateway/src/api/controllers/agents.controller.ts
  packages/gateway/src/api/routes/agents.routes.ts
  packages/gateway/src/application/services/cron-manager.ts
  packages/gateway/src/application/services/logbook-service.ts
  packages/gateway/src/application/services/skill-loader.ts
  packages/gateway/src/domain/agents/agent-log-store.ts
  packages/gateway/src/domain/agents/agent-registry.ts
  packages/gateway/src/domain/agents/runtime-registry.ts
  packages/gateway/src/domain/interfaces/model-repository.interface.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/domain/logic/sub-agent.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/llm/model-catalog.ts
  packages/gateway/src/infrastructure/llm/model-router.ts
  packages/gateway/src/security/audit-logger.ts
  packages/gateway/src/server.ts
  packages/gateway/src/tools/cron.ts
  packages/gateway/src/tools/spawn-agent.ts
  packages/gateway/src/verify_cancellation.ts
  packages/shared/src/types.ts
  workspace/PLAN.md
Due: prettier --write, eslint --fix

feat: improve MA communication skills
  .husky/pre-commit
  packages/gateway/src/application/services/cron-manager.ts
  packages/gateway/src/domain/agents/agent-registry.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/domain/logic/sub-agent.ts
  packages/gateway/src/index.ts
  packages/gateway/src/tools/cron.ts
  packages/gateway/src/tools/spawn-agent.ts
  packages/gateway/src/verify_cancellation.ts
  workspace/daily_weather_report_galle.txt
  workspace/flutter_sse_jobs.md
  workspace/models.json
  workspace/otta_flutter_sse_roles.md
Due: prettier --write, eslint --fix

fix(gateway): resolve final lint errors in memory-store
  package-lock.json
  packages/gateway/package.json
  packages/gateway/scripts/backfill-memories.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/llm/embedding-service.ts
  packages/gateway/src/infrastructure/repositories/memory-db.ts
  packages/gateway/src/infrastructure/repositories/memory-store.ts
Due: prettier --write, eslint --fix

docs: update ROADMAP.md
  ROADMAP.md
Due: prettier --write

feat(gateway): add knowledge graph traversal tool
  packages/gateway/src/domain/knowledge/graph-traversal.ts
  packages/gateway/src/index.ts
  packages/gateway/src/tools/knowledge.ts
Due: prettier --write, eslint --fix

feat(gateway): add markdown knowledge base with auto-indexing
  packages/gateway/src/domain/knowledge/graph-indexer.ts
  packages/gateway/src/domain/knowledge/knowledge-watcher.ts
  packages/gateway/src/index.ts
Due: prettier --write, eslint --fix

fix(gateway): store markdown link types in edge metadata
  packages/gateway/src/domain/knowledge/graph-indexer.ts
Due: prettier --write, eslint --fix

feat(dashboard): implement execution plan visualization and move planner types to shared
  ROADMAP.md
  packages/dashboard/src/components/chat/markdown-renderer.tsx
  packages/dashboard/src/components/chat/plan-visualizer.tsx
  packages/gateway/src/domain/knowledge/semantic-processor.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/domain/logic/parallel-executor.ts
  packages/gateway/src/domain/logic/task-planner.ts
  packages/gateway/src/domain/logic/tool-error-handler.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/repositories/memory-store.ts
  packages/gateway/src/tools/planner.ts
  packages/gateway/src/tools/semantic-search.ts
  packages/shared/src/types.ts
  workspace/adaderana_news.txt
  workspace/daily_weather_report_galle.txt
  workspace/flutter_sse_jobs.md
  workspace/hello_api.py
  workspace/otta_flutter_sse_roles.md
Due: prettier --write, eslint --fix

docs: celebrate Phase 2 completion in roadmap
  ROADMAP.md
Due: prettier --write

Optimize indexing: Reduced cost and improved stability
  EVOLUTION.md
  packages/dashboard/src/components/chat/markdown-renderer.tsx
  packages/dashboard/src/components/chat/search-results.tsx
  packages/dashboard/src/components/chat/thinking-indicator.tsx
  packages/gateway/src/application/services/skill-loader.ts
  packages/gateway/src/domain/knowledge/graph-indexer.ts
  packages/gateway/src/domain/knowledge/graph-traversal.ts
  packages/gateway/src/domain/knowledge/knowledge-watcher.ts
  packages/gateway/src/domain/knowledge/semantic-processor.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/repositories/memory-db.ts
  packages/gateway/src/tools/knowledge.ts
  packages/gateway/src/tools/semantic-search.ts
Due: prettier --write, eslint --fix

feat: implement semantic graph walker and fix vector search indexing bugs
  packages/gateway/src/domain/knowledge/graph-indexer.ts
  packages/gateway/src/domain/knowledge/graph-traversal.ts
  packages/gateway/src/domain/knowledge/knowledge-watcher.ts
  packages/gateway/src/domain/knowledge/semantic-processor.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/repositories/memory-db.ts
  packages/gateway/src/infrastructure/repositories/memory-store.ts
  packages/gateway/src/tools/knowledge.ts
Due: prettier --write, eslint --fix

feat: implement event bus, optimize knowledge indexing, and fix dashboard connectivity
  EVOLUTION.md
  HEARTBEAT.md
  LOGBOOK.md
  SOUL.md
  models.json
  package-lock.json
  packages/dashboard/next.config.mjs
  packages/dashboard/package.json
  packages/dashboard/src/hooks/use-gateway-socket.ts
  packages/dashboard/src/lib/api.ts
  packages/gateway/package.json
  packages/gateway/src/api/routes/agent.routes.ts
  packages/gateway/src/api/routes/system.routes.ts
  packages/gateway/src/domain/knowledge/graph-indexer.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/events/event-bus.ts
  packages/gateway/src/infrastructure/events/socket-io-service.ts
  packages/gateway/src/infrastructure/repositories/memory-store.ts
  packages/gateway/src/server.ts
  packages/shared/src/events/index.ts
  packages/shared/src/index.ts
  packages/workspace/LOGBOOK.md
  workspace/adaderana_news.txt
Due: prettier --write, eslint --fix

chore: refine git exclusions and remove tracking for local runtime data
  .gitignore
  HEARTBEAT.md
  LOGBOOK.md
  SOUL.md
  models.json
  packages/workspace/LOGBOOK.md
  workspace/hello_api.py
Due: prettier --write

feat: implement proactive sensor architecture and optimize console UI
  packages/dashboard/src/app/console/page.tsx
  packages/gateway/src/domain/knowledge/knowledge-watcher.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/sensors/sensor-manager.ts
  packages/gateway/src/infrastructure/sensors/sensor.interface.ts
  packages/gateway/src/infrastructure/sensors/system-health-sensor.ts
  packages/gateway/src/server.ts
  packages/shared/src/events/index.ts
Due: prettier --write, eslint --fix

feat(comms): implement end-to-end communication, event-driven infra, and polished Chat UI input
  packages/dashboard/src/app/chat/page.tsx
  packages/dashboard/src/app/console/page.tsx
  packages/dashboard/src/hooks/use-gateway-socket.ts
  packages/gateway/src/application/services/direct-messaging-service.ts
  packages/gateway/src/application/services/user-interaction-service.ts
  packages/gateway/src/domain/agents/agent-registry.ts
  packages/gateway/src/domain/agents/runtime-registry.ts
  packages/gateway/src/domain/logic/approval-service.ts
  packages/gateway/src/domain/logic/sub-agent.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/events/socket-io-service.ts
  packages/gateway/src/scripts/verify_communication.ts
  packages/gateway/src/scripts/verify_events.ts
  packages/gateway/src/server.ts
  packages/gateway/src/tools/communication.ts
  packages/gateway/src/tools/events.ts
  packages/gateway/src/tools/interaction.ts
  packages/gateway/src/verify_cancellation.ts
Due: prettier --write, eslint --fix

feat(memory): implement phase 3 advanced memory & structured extraction
  ROADMAP.md
  packages/gateway/src/application/services/dreamer.ts
  packages/gateway/src/infrastructure/llm/llm-client.ts
  packages/gateway/src/infrastructure/llm/model-router.ts
  packages/gateway/src/infrastructure/repositories/memory-db.ts
  packages/gateway/src/infrastructure/repositories/memory-store.ts
Due: prettier --write, eslint --fix

docs: update documentation
  README.md
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/GATEWAY_RUNTIME.md
  docs/SKILL_SYSTEM.md
  docs/STORAGE_AND_MEMORY.md
Due: prettier --write

feat(gateway): implement enhanced LLM connectivity and provider discovery
  .gitignore
  docs/migrations/walkthrough.md.resolved
  docs/migrations/walkthrough.md.resolved.2
  docs/migrations/walkthrough.md.resolved.3
  docs/migrations/walkthrough.md.resolved.4
  docs/migrations/walkthrough.md.resolved.5
  packages/gateway/src/domain/interfaces/model-repository.interface.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/llm/auth-resolver.ts
  packages/gateway/src/infrastructure/llm/auth-store.ts
  packages/gateway/src/infrastructure/llm/llm-client.ts
  packages/gateway/src/infrastructure/llm/model-fallback.ts
  packages/gateway/src/infrastructure/llm/model-observability.ts
  packages/gateway/src/infrastructure/llm/model-selection.ts
  packages/gateway/src/infrastructure/llm/provider-builders.ts
  packages/gateway/src/infrastructure/llm/provider-discovery.ts
  packages/gateway/src/infrastructure/llm/provider-env-resolver.ts
  packages/gateway/src/infrastructure/llm/provider-merge.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  packages/shared/src/types/models.ts
Due: prettier --write, eslint --fix

feat(gateway): implement phase 1 cron resilience with error backoff and hardening
  .gitignore
  ROADMAP.md
  packages/gateway/src/application/services/cron-manager.ts
  packages/gateway/src/tools/cron.ts
Due: prettier --write, eslint --fix

docs: remove unnecessary docs
  docs/migrations/walkthrough.md.resolved
  docs/migrations/walkthrough.md.resolved.2
  docs/migrations/walkthrough.md.resolved.3
  docs/migrations/walkthrough.md.resolved.4
  docs/migrations/walkthrough.md.resolved.5
Due: none

feat(skill-system): implement dependency management, command dispatch, and CLI diagnostics
  packages/gateway/src/application/services/dispatch-service.ts
  packages/gateway/src/application/services/skill-loader.ts
  packages/gateway/src/cli/index.ts
  packages/gateway/src/config.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/index.ts
  workspace/skills/web-search/SKILL.md
  workspace/skills/web-search/adytum.plugin.json
  workspace/skills/web-search/index.ts
  workspace/skills/web-surf/index.ts
Due: prettier --write, eslint --fix

feat(shared): add agent tracking fields and AGENT_FAILED event
  packages/shared/src/events/index.ts
  packages/shared/src/types/agent.ts
Due: prettier --write, eslint --fix

feat(gateway): implement swarm hardening (sweeper, limits, tools)
  packages/gateway/src/domain/agents/agent-registry.ts
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/domain/logic/swarm-manager.ts
  packages/gateway/src/domain/logic/swarm-sweeper.ts
  packages/gateway/src/index.ts
  packages/gateway/src/tools/swarm-tools.ts
Due: prettier --write, eslint --fix

feat(dashboard): implement graveyard tab and list view
  packages/dashboard/src/app/swarm/page.tsx
  packages/dashboard/src/components/swarm/GraveyardList.tsx
Due: prettier --write, eslint --fix

feat(heartbeat): implement resilience guards and cron integration
  packages/gateway/src/application/services/cron-manager.ts
  packages/gateway/src/application/services/heartbeat-manager.test.ts
  packages/gateway/src/application/services/heartbeat-manager.ts
Due: prettier --write, eslint --fix

feat(memory): enhance memory store with hybrid search and RRF/MMR
  packages/gateway/src/domain/knowledge/graph-context.ts
  packages/gateway/src/infrastructure/repositories/memory-store.test.ts
  packages/gateway/src/infrastructure/repositories/memory-store.ts
  packages/gateway/src/tools/memory.ts
Due: prettier --write, eslint --fix

feat(runtime): integrate model-aware compaction and turn indexing
  packages/gateway/src/domain/logic/agent-runtime.ts
  packages/gateway/src/domain/logic/compactor.test.ts
  packages/gateway/src/domain/logic/compactor.ts
  packages/gateway/src/domain/logic/context-manager.test.ts
  packages/gateway/src/domain/logic/context-manager.ts
  packages/gateway/src/domain/logic/runtime.integration.test.ts
Due: prettier --write, eslint --fix

fix(gateway): resolve dependency injection and agent startup errors
  packages/gateway/src/domain/logic/agent-runtime.autonomy.test.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/llm/model-router.spec.ts
Due: prettier --write, eslint --fix

feat: simplify installation process with multi-platform support and automatic node.js setup
  README.md
  install.ps1
  install.sh
Due: prettier --write

docs: release 0.4.0 with swarm intelligence and simplified installation
  CHANGELOG.md
Due: prettier --write

chore(gateway): remove LiteLLM dependencies and clean up CLI logging
  .env.example
  EVOLUTION.md
  docker-compose.yaml
  package-lock.json
  packages/gateway/package.json
  packages/gateway/src/application/services/cron-manager.ts
  packages/gateway/src/application/services/heartbeat-manager.ts
  packages/gateway/src/application/services/skill-loader.ts
  packages/gateway/src/cli/birth-protocol.ts
  packages/gateway/src/config.ts
  packages/gateway/src/domain/agents/runtime-registry.ts
  packages/gateway/src/domain/logic/swarm-manager.ts
  packages/gateway/src/index.ts
  packages/gateway/src/infrastructure/events/event-bus.ts
  packages/gateway/src/infrastructure/llm/embedding-service.ts
  packages/gateway/src/infrastructure/llm/llm-client.ts
  packages/gateway/src/infrastructure/llm/model-router.ts
  packages/gateway/src/logger.ts
  packages/gateway/src/scripts/verify_communication.ts
  packages/gateway/src/scripts/verify_events.ts
  packages/gateway/src/storage/database.ts
  packages/shared/src/types.ts
Due: prettier --write, eslint --fix

chore(cli): silence background logs and improve setup UI
  packages/gateway/src/api/controllers/agent.controller.ts
  packages/gateway/src/application/services/model-service.ts
  packages/gateway/src/application/services/skill-loader.ts
  packages/gateway/src/application/services/skill-service.ts
  packages/gateway/src/cli/birth-protocol.ts
  packages/gateway/src/domain/knowledge/graph-indexer.ts
  packages/gateway/src/domain/knowledge/knowledge-watcher.ts
  packages/gateway/src/domain/knowledge/semantic-processor.ts
  packages/gateway/src/domain/logic/approval-service.ts
  packages/gateway/src/domain/logic/parallel-executor.ts
  packages/gateway/src/domain/logic/swarm-sweeper.ts
  packages/gateway/src/domain/logic/task-planner.ts
  packages/gateway/src/infrastructure/config/config-service.ts
  packages/gateway/src/infrastructure/events/socket-io-service.ts
  packages/gateway/src/infrastructure/llm/model-catalog.ts
  packages/gateway/src/infrastructure/repositories/sqlite-memory-repository.ts
  packages/gateway/src/infrastructure/sensors/sensor-manager.ts
  packages/gateway/src/infrastructure/sensors/system-health-sensor.ts
  packages/gateway/src/security/audit-logger.ts
Due: prettier --write, eslint --fix

fix(installer): ensure install.sh pulls latest changes when directory already exists
  install.sh
Due: none

fix(cli): resolve project root for update command to work from any directory
  packages/gateway/src/cli/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,js,jsx,mjs,cjs,json,md,yaml}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx,mjs,cjs}
